html {
  box-sizing: border-box;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url(./assets/fonts/Roboto-Regular.ttf);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
