@font-face {
  font-family: "Roboto-Regular";
  src: url(./assets/fonts/Roboto-Regular.ttf);
}
html {
  box-sizing: border-box;
  font-family: "Roboto-Regular", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.second-section {
  max-width: 380px;
  padding: 130px 0px 30px 0px;
  height: 100vh;
}
.second-section h1 {
  margin-bottom: 0px;
}

.second-section img {
  margin-bottom: 30px;
  width: 65px;
}
.second-section p {
  color: hsl(235, 18%, 26%);
}
span {
  color: hsl(234, 29%, 20%);
  font-weight: 900;
}
.second-section button {
  margin-top: auto;
  margin-top: 200px;
}
.first-section {
  max-width: 380px;
}

.first-section-chamber-1 {
  padding: 20px;
  width: 100%;
}

h1 {
  margin-top: 0px;
  font-size: 2.6rem;
}

p {
  font-size: 1.1rem;
}

.check {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.check-1,
.check-2,
.check-3 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: start;
}

.check-1 p,
.check-2 p,
.check-3 p {
  margin: 0px;
}

.addressing {
  display: flex;
  flex-direction: column;
}
.addressing p {
  font-size: 0.7rem;
  font-weight: 900;
}
.addressing input {
  font-family: "Roboto-Regular";
  height: 50px;
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 58%);
  padding: 0px 20px;
  margin-bottom: 20px;
}
button {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 700;
  background-color: hsl(234, 29%, 20%);
  cursor: pointer;
  transition: background 1s ease, transform 1s ease;
  box-shadow: 0 8px 15px rgba(0, 56, 23, 0.5);
}

button:hover {
  transform: scale(1.1);
  background: linear-gradient(to right, #e52e71, #ff8a00);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 600px) {
  body {
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  .first-section {
    min-width: 900px;
    height: 600px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-radius: 30px;
    align-items: center;
  }
  .first-section picture {
    order: 1;
    justify-content: center;
  }
  .first-section picture img {
    height: 100%;
  }
  .hidden {
    display: none;
  }
  .second-section button {
    margin-top: 25px;
  }
}
